{
  "openapi": "3.1.0",
  "info": {
    "title": "RosterPilot API",
    "version": "0.2.0",
    "description": "Deterministic roster operations under immutable signed-data snapshot leases, plus explicit data update control-plane operations."
  },
  "servers": [
    {
      "url": "https://rosterpilot-army-builder.jasonricha.chatgpt.site"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/data-status": {
      "get": {
        "operationId": "getDataStatus",
        "summary": "Get active roster-data and engine status",
        "responses": {
          "200": {
            "description": "Engine provenance plus active runtime-bundle status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStatusEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/data-freshness": {
      "get": {
        "operationId": "checkDataFreshness",
        "summary": "Compare active roster-data provenance with live sources",
        "parameters": [
          {
            "name": "force",
            "in": "query",
            "description": "Bypass the 15-minute server cache.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rules package, BSData commit, and official points freshness",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveDataFreshnessEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/data-update-status": {
      "get": {
        "operationId": "getDataUpdateStatus",
        "summary": "Get signed runtime data update status",
        "responses": {
          "200": {
            "description": "Currently used, latest verified, and latest upstream bundles with scoped quarantine state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataUpdateStatusEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/data-refresh": {
      "post": {
        "operationId": "refreshDataNow",
        "summary": "Verify and activate safe signed data updates",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "force": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refresh classification and activation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataRefreshResultEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/data-rollback": {
      "post": {
        "operationId": "rollbackDataBundle",
        "summary": "Roll future requests back to an archived verified bundle",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bundleId"
                ],
                "properties": {
                  "bundleId": {
                    "type": "string",
                    "pattern": "^[a-f0-9]{64}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Selected active bundle and retained update status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataUpdateStatusEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/data-conflicts": {
      "get": {
        "operationId": "listDataConflicts",
        "summary": "List active-snapshot cross-source data conflicts",
        "parameters": [
          {
            "name": "factionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "catalogue",
                "unit",
                "points",
                "equipment",
                "detachment",
                "enhancement"
              ]
            }
          },
          {
            "name": "blocking",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated source conflicts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataConflictPageEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/new-recruit-capability": {
      "get": {
        "operationId": "getNewRecruitCapability",
        "summary": "Get New Recruit export coverage for a faction",
        "parameters": [
          {
            "name": "factionId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalogue mapping and conflict coverage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewRecruitCapabilityEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/factions": {
      "get": {
        "operationId": "searchFactions",
        "summary": "Search factions",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Faction search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FactionSummaryEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/units": {
      "get": {
        "operationId": "searchUnits",
        "summary": "Search units",
        "parameters": [
          {
            "name": "faction",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "adeptus-custodes"
            }
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Comma-separated preference tags.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeLegends",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unit search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnitSummaryEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/factions/compare": {
      "get": {
        "operationId": "compareFactions",
        "summary": "Compare named factions",
        "description": "Repeat faction or provide comma-separated faction names or IDs. Unmatched values are returned as violations while matched factions remain in data.",
        "parameters": [
          {
            "name": "faction",
            "in": "query",
            "schema": {
              "type": "array",
              "items": { "type": "string" }
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Faction comparison result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FactionSummaryEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rosters/build": {
      "post": {
        "operationId": "buildRoster",
        "summary": "Build a deterministic roster for any supported faction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildRosterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Roster result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RosterDraftEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rosters/modify": {
      "post": {
        "operationId": "modifyRoster",
        "summary": "Modify and revalidate a roster",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "roster",
                  "operation"
                ],
                "properties": {
                  "roster": {
                    "$ref": "#/components/schemas/RosterDraftInput"
                  },
                  "operation": {
                    "$ref": "#/components/schemas/ModifyRosterOperation"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Modified roster result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RosterDraftEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rosters/rebase": {
      "post": {
        "operationId": "rebaseRoster",
        "summary": "Rebase provenance-only roster data or report exact review scopes",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "roster"
                ],
                "properties": {
                  "roster": {
                    "$ref": "#/components/schemas/RosterDraftInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current, compatible-rebased, or review-required roster result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RosterDataRebaseResultEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rosters/validate": {
      "post": {
        "operationId": "validateRoster",
        "summary": "Validate a roster",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "roster"
                ],
                "properties": {
                  "roster": {
                    "$ref": "#/components/schemas/RosterDraftInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RosterValidationEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rosters/explain": {
      "post": {
        "operationId": "explainRoster",
        "summary": "Explain a validated roster",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "roster"
                ],
                "properties": {
                  "roster": {
                    "$ref": "#/components/schemas/RosterDraftInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Explanation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RosterExplanationEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rosters/export": {
      "post": {
        "operationId": "exportRoster",
        "summary": "Export a validated roster",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "roster",
                  "format"
                ],
                "properties": {
                  "roster": {
                    "$ref": "#/components/schemas/RosterDraftInput"
                  },
                  "format": {
                    "type": "string",
                    "description": "HTML, text, and JSON formats support every validated faction. ROS/ROSZ require a complete New Recruit catalogue mapping.",
                    "enum": [
                      "ros",
                      "rosz",
                      "newrecruit-json",
                      "roster-json",
                      "text",
                      "html"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inline export result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineExportArtifactEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Roster validation or export failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineExportArtifactEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/rosters/new-recruit-handoff": {
      "post": {
        "operationId": "prepareNewRecruitHandoff",
        "summary": "Prepare validated New Recruit handoff artifacts",
        "description": "Requires every selected configuration, unit, model, and wargear reference to be mapped and conflict-free under the roster's semantic mapping hash.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "roster"
                ],
                "properties": {
                  "roster": {
                    "$ref": "#/components/schemas/RosterDraftInput"
                  },
                  "includeHtml": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inline New Recruit handoff artifacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewRecruitHandoffEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Roster validation or export failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewRecruitHandoffEnvelope"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Sha256": {
        "type": "string",
        "pattern": "^[a-f0-9]{64}$"
      },
      "RosterIssue": {
        "type": "object",
        "required": ["code", "message", "severity"],
        "properties": {
          "code": { "type": "string" },
          "message": { "type": "string" },
          "severity": { "type": "string", "enum": ["error", "warn"] },
          "selectionId": { "type": "string" }
        },
        "additionalProperties": false
      },
      "DataBundleDelta": {
        "type": "object",
        "required": [
          "classification",
          "directlyChangedFactions",
          "affectedFactions",
          "changedEntities",
          "changedScopes",
          "requiresFullCertification",
          "quarantine",
          "reasons"
        ],
        "properties": {
          "classification": {
            "type": "string",
            "enum": [
              "provenance-only",
              "mapping-only",
              "rules",
              "methodology/global",
              "ambiguous/regressive"
            ]
          },
          "directlyChangedFactions": { "type": "array", "items": { "type": "string" } },
          "affectedFactions": { "type": "array", "items": { "type": "string" } },
          "changedEntities": {
            "type": "object",
            "additionalProperties": { "type": "array", "items": { "type": "string" } }
          },
          "changedScopes": { "type": "array", "items": { "type": "string" } },
          "requiresFullCertification": { "type": "boolean" },
          "quarantine": { "type": "boolean" },
          "reasons": { "type": "array", "items": { "type": "string" } }
        },
        "additionalProperties": false
      },
      "OfficialAuthorityStatus": {
        "oneOf": [
          {
            "type": "object",
            "required": ["status", "sourceArtifactSha256", "overlaySha256", "receiptSha256", "extractorId", "extractorKeyId"],
            "properties": {
              "status": { "const": "verified" },
              "sourceArtifactSha256": { "$ref": "#/components/schemas/Sha256" },
              "overlaySha256": { "$ref": "#/components/schemas/Sha256" },
              "receiptSha256": { "$ref": "#/components/schemas/Sha256" },
              "extractorId": { "type": "string", "minLength": 1 },
              "extractorKeyId": { "type": "string", "minLength": 1 }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": ["status", "reason"],
            "properties": {
              "status": { "type": "string", "enum": ["unavailable", "unverified-overlay"] },
              "reason": { "type": "string", "minLength": 1 }
            },
            "additionalProperties": false
          }
        ]
      },
      "DataUpdateStatus": {
        "type": "object",
        "required": [
          "providerConfigured",
          "state",
          "activeBundleId",
          "latestVerifiedBundleId",
          "latestUpstreamBundleId",
          "candidate",
          "quarantinedScopes",
          "lastSuccessfulCheckAt",
          "officialAuthority"
        ],
        "properties": {
          "providerConfigured": { "type": "boolean" },
          "state": {
            "type": "string",
            "enum": ["ready", "checking", "candidate-ready", "degraded", "offline"]
          },
          "activeBundleId": { "anyOf": [{ "$ref": "#/components/schemas/Sha256" }, { "type": "null" }] },
          "latestVerifiedBundleId": { "anyOf": [{ "$ref": "#/components/schemas/Sha256" }, { "type": "null" }] },
          "latestUpstreamBundleId": { "anyOf": [{ "$ref": "#/components/schemas/Sha256" }, { "type": "null" }] },
          "candidate": {
            "anyOf": [
              {
                "type": "object",
                "required": ["bundleId", "classification"],
                "properties": {
                  "bundleId": { "$ref": "#/components/schemas/Sha256" },
                  "classification": { "$ref": "#/components/schemas/DataBundleDelta" }
                },
                "additionalProperties": false
              },
              { "type": "null" }
            ]
          },
          "quarantinedScopes": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["scope", "bundleId", "reason"],
              "properties": {
                "scope": { "type": "string" },
                "bundleId": { "type": "string" },
                "reason": { "type": "string" }
              },
              "additionalProperties": false
            }
          },
          "lastSuccessfulCheckAt": { "type": ["string", "null"], "format": "date-time" },
          "officialAuthority": { "$ref": "#/components/schemas/OfficialAuthorityStatus" },
          "refreshMode": {
            "type": "string",
            "enum": [
              "disabled",
              "request-driven",
              "request-driven-wait-until",
              "periodic-unref"
            ]
          },
          "rollbackHold": {
            "anyOf": [
              {
                "type": "object",
                "required": ["bundleId", "engagedAt", "release"],
                "properties": {
                  "bundleId": { "$ref": "#/components/schemas/Sha256" },
                  "engagedAt": { "type": "string", "format": "date-time" },
                  "release": { "const": "force-refresh" }
                },
                "additionalProperties": false
              },
              { "type": "null" }
            ]
          },
          "dataTrust": {
            "type": "string",
            "enum": ["signed-verified", "compiled-unverified"]
          },
          "durability": {
            "type": "object",
            "required": ["mode", "state", "reason"],
            "properties": {
              "mode": { "type": "string", "enum": ["memory", "persistent"] },
              "state": { "type": "string", "enum": ["ready", "degraded"] },
              "reason": { "type": ["string", "null"] }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "DataUpdateStatusEnvelope": {
        "type": "object",
        "required": ["ok", "data", "violations", "warnings"],
        "properties": {
          "ok": { "type": "boolean" },
          "data": { "anyOf": [{ "$ref": "#/components/schemas/DataUpdateStatus" }, { "type": "null" }] },
          "violations": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } },
          "warnings": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } }
        },
        "additionalProperties": false
      },
      "DataRefreshResultEnvelope": {
        "type": "object",
        "required": ["ok", "data", "violations", "warnings"],
        "properties": {
          "ok": { "type": "boolean" },
          "data": {
            "anyOf": [
              {
                "type": "object",
                "required": ["status", "activatedBundleId", "classification"],
                "properties": {
                  "status": { "$ref": "#/components/schemas/DataUpdateStatus" },
                  "activatedBundleId": { "anyOf": [{ "$ref": "#/components/schemas/Sha256" }, { "type": "null" }] },
                  "classification": { "anyOf": [{ "$ref": "#/components/schemas/DataBundleDelta" }, { "type": "null" }] }
                },
                "additionalProperties": false
              },
              { "type": "null" }
            ]
          },
          "violations": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } },
          "warnings": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } }
        },
        "additionalProperties": false
      },
      "DataStatusEnvelope": {
        "type": "object",
        "required": ["ok", "data", "violations", "warnings"],
        "properties": {
          "ok": { "type": "boolean" },
          "data": {
            "anyOf": [
              {
                "type": "object",
                "required": [
                  "package",
                  "packageVersion",
                  "edition",
                  "supportedFactionIds",
                  "factionCount",
                  "buildableFactionCount",
                  "sources",
                  "freshness",
                  "dataBundle",
                  "newRecruitCoverage",
                  "conflicts"
                ],
                "properties": {
                  "package": { "type": "string", "const": "@alpaca-software/40kdc-data" },
                  "packageVersion": { "type": "string", "minLength": 1 },
                  "edition": { "type": "string", "const": "11th" },
                  "dataslate": { "type": "string", "minLength": 1 },
                  "supportedFactionIds": { "type": "array", "items": { "type": "string" } },
                  "factionCount": { "type": "integer", "minimum": 0 },
                  "buildableFactionCount": { "type": "integer", "minimum": 0 },
                  "sources": {
                    "type": "object",
                    "required": ["releaseId", "rules", "newRecruit", "official"],
                    "properties": {
                      "releaseId": { "type": "string" },
                      "rules": { "type": "object", "additionalProperties": true },
                      "newRecruit": { "type": "object", "additionalProperties": true },
                      "official": { "type": "object", "additionalProperties": true }
                    },
                    "additionalProperties": false
                  },
                  "freshness": {
                    "type": "object",
                    "required": ["state", "checkedAt"],
                    "properties": {
                      "state": { "type": "string", "enum": ["pinned", "update-available", "official-update-pending", "unknown"] },
                      "checkedAt": { "type": "string" }
                    },
                    "additionalProperties": false
                  },
                  "dataBundle": { "$ref": "#/components/schemas/DataUpdateStatus" },
                  "newRecruitCoverage": { "type": "object", "additionalProperties": true },
                  "conflicts": { "type": "object", "additionalProperties": true }
                },
                "additionalProperties": true
              },
              { "type": "null" }
            ]
          },
          "violations": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } },
          "warnings": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } }
        },
        "additionalProperties": false
      },
      "LiveDataFreshnessEnvelope": {
        "type": "object",
        "required": ["ok", "data", "violations", "warnings"],
        "properties": {
          "ok": { "type": "boolean" },
          "data": {
            "anyOf": [
              {
                "type": "object",
                "required": ["checkedAt", "state", "rules", "newRecruit", "official"],
                "properties": {
                  "checkedAt": { "type": "string", "format": "date-time" },
                  "state": { "type": "string", "enum": ["current", "update-available", "official-update-pending", "unknown"] },
                  "rules": {
                    "type": "object",
                    "required": ["pinnedVersion", "latestVersion", "updateAvailable"],
                    "properties": {
                      "pinnedVersion": { "type": "string" },
                      "latestVersion": { "type": ["string", "null"] },
                      "updateAvailable": { "type": ["boolean", "null"] }
                    },
                    "additionalProperties": false
                  },
                  "newRecruit": {
                    "type": "object",
                    "required": ["pinnedCommit", "latestCommit", "updateAvailable"],
                    "properties": {
                      "pinnedCommit": { "type": "string", "pattern": "^[a-f0-9]{40}$" },
                      "latestCommit": { "type": ["string", "null"] },
                      "updateAvailable": { "type": ["boolean", "null"] }
                    },
                    "additionalProperties": false
                  },
                  "official": {
                    "type": "object",
                    "required": ["pinnedVersion", "latestVersion", "pinnedContentSha256", "latestContentSha256", "updateAvailable"],
                    "properties": {
                      "pinnedVersion": { "type": "string" },
                      "latestVersion": { "type": ["string", "null"] },
                      "pinnedContentSha256": { "$ref": "#/components/schemas/Sha256" },
                      "latestContentSha256": { "anyOf": [{ "$ref": "#/components/schemas/Sha256" }, { "type": "null" }] },
                      "updateAvailable": { "type": ["boolean", "null"] }
                    },
                    "additionalProperties": false
                  },
                  "dataBundle": { "$ref": "#/components/schemas/DataUpdateStatus" }
                },
                "additionalProperties": false
              },
              { "type": "null" }
            ]
          },
          "violations": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } },
          "warnings": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } }
        },
        "additionalProperties": false
      },
      "DataConflictPageEnvelope": {
        "type": "object",
        "required": ["ok", "data", "violations", "warnings"],
        "properties": {
          "ok": { "type": "boolean" },
          "data": {
            "anyOf": [
              {
                "type": "object",
                "required": ["total", "uniqueTotal", "offset", "limit", "items"],
                "properties": {
                  "total": { "type": "integer", "minimum": 0 },
                  "uniqueTotal": { "type": "integer", "minimum": 0 },
                  "offset": { "type": "integer", "minimum": 0 },
                  "limit": { "type": "integer", "minimum": 1 },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["id", "factionId", "entityType", "entityId", "entityName", "code", "blocking", "message"],
                      "properties": {
                        "id": { "type": "string" },
                        "rootCauseKey": { "type": "string" },
                        "factionId": { "type": "string" },
                        "entityType": { "type": "string" },
                        "entityId": { "type": "string" },
                        "entityName": { "type": "string" },
                        "code": { "type": "string" },
                        "blocking": { "type": "boolean" },
                        "message": { "type": "string" },
                        "source": { "type": "string", "enum": ["rules", "bsdata", "reconciler"] }
                      },
                      "additionalProperties": true
                    }
                  }
                },
                "additionalProperties": false
              },
              { "type": "null" }
            ]
          },
          "violations": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } },
          "warnings": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } }
        },
        "additionalProperties": false
      },
      "NewRecruitCapabilityEnvelope": {
        "type": "object",
        "required": ["ok", "data", "violations", "warnings"],
        "properties": {
          "ok": { "type": "boolean" },
          "data": {
            "anyOf": [
              {
                "type": "object",
                "required": ["factionId", "available", "complete", "catalogueId", "catalogueName", "catalogueRevision", "mappedUnits", "engineUnits", "mappedBaseLoadouts", "mappedDetachments", "engineDetachments", "blockingConflicts", "reason"],
                "properties": {
                  "factionId": { "type": "string" },
                  "available": { "type": "boolean" },
                  "complete": { "type": "boolean" },
                  "catalogueId": { "type": ["string", "null"] },
                  "catalogueName": { "type": ["string", "null"] },
                  "catalogueRevision": { "type": ["integer", "null"], "minimum": 0 },
                  "mappedUnits": { "type": "integer", "minimum": 0 },
                  "engineUnits": { "type": "integer", "minimum": 0 },
                  "mappedBaseLoadouts": { "type": "integer", "minimum": 0 },
                  "mappedDetachments": { "type": "integer", "minimum": 0 },
                  "engineDetachments": { "type": "integer", "minimum": 0 },
                  "blockingConflicts": { "type": "integer", "minimum": 0 },
                  "reason": { "type": ["string", "null"] }
                },
                "additionalProperties": false
              },
              { "type": "null" }
            ]
          },
          "violations": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } },
          "warnings": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } }
        },
        "additionalProperties": false
      },
      "RosterSourceDataV3": {
        "type": "object",
        "required": [
          "package",
          "version",
          "edition",
          "dataslate",
          "releaseId",
          "newRecruit",
          "official",
          "bundleId",
          "engineDataSchemaVersion",
          "rosterRulesHash",
          "factionRulesHash",
          "mappingHash",
          "entityHashes",
          "identityStatus"
        ],
        "properties": {
          "package": { "type": "string", "const": "@alpaca-software/40kdc-data" },
          "version": { "type": "string" },
          "edition": { "type": "string", "const": "11th" },
          "dataslate": { "type": "string" },
          "releaseId": { "type": "string" },
          "newRecruit": {
            "type": "object",
            "required": ["repository", "commit", "gameSystemRevision", "catalogueRevision"],
            "properties": {
              "repository": { "type": "string", "const": "BSData/wh40k-11e" },
              "commit": { "type": "string", "pattern": "^[a-f0-9]{40}$" },
              "gameSystemRevision": { "type": "integer", "minimum": 0 },
              "catalogueRevision": { "type": ["integer", "null"], "minimum": 0 }
            },
            "additionalProperties": false
          },
          "official": {
            "type": "object",
            "required": ["mfmVersion", "updatedAt", "contentSha256"],
            "properties": {
              "mfmVersion": { "type": "string" },
              "updatedAt": { "type": "string" },
              "contentSha256": { "$ref": "#/components/schemas/Sha256" },
              "authority": { "$ref": "#/components/schemas/OfficialAuthorityStatus" }
            },
            "additionalProperties": false
          },
          "bundleId": { "$ref": "#/components/schemas/Sha256" },
          "engineDataSchemaVersion": { "type": "integer", "minimum": 1 },
          "rosterRulesHash": { "$ref": "#/components/schemas/Sha256" },
          "factionRulesHash": { "$ref": "#/components/schemas/Sha256" },
          "mappingHash": { "$ref": "#/components/schemas/Sha256" },
          "entityHashes": { "type": "object", "additionalProperties": { "$ref": "#/components/schemas/Sha256" } },
          "identityStatus": { "type": "string", "enum": ["verified", "legacy-derived"] },
          "migratedFrom": { "type": "integer", "enum": [1, 2] }
        },
        "additionalProperties": false
      },
      "EquipmentSelection": {
        "type": "object",
        "required": ["itemId", "name", "count"],
        "properties": {
          "itemId": { "type": "string", "minLength": 1 },
          "name": { "type": "string", "minLength": 1 },
          "count": { "type": "integer", "minimum": 0 }
        },
        "additionalProperties": false
      },
      "DraftUnit": {
        "type": "object",
        "required": [
          "selectionId",
          "unitId",
          "name",
          "role",
          "modelCount",
          "ordinal",
          "points",
          "isWarlord",
          "enhancementId",
          "enhancementName",
          "equipment",
          "tags"
        ],
        "properties": {
          "selectionId": { "type": "string", "minLength": 1 },
          "unitId": { "type": "string", "minLength": 1 },
          "name": { "type": "string", "minLength": 1 },
          "role": { "type": "string", "minLength": 1 },
          "modelCount": { "type": "integer", "minimum": 1 },
          "ordinal": { "type": "integer", "minimum": 1 },
          "points": { "type": "integer", "minimum": 0 },
          "isWarlord": { "type": "boolean" },
          "enhancementId": {
            "anyOf": [
              { "type": "string", "minLength": 1 },
              { "type": "null" }
            ]
          },
          "enhancementName": {
            "anyOf": [
              { "type": "string", "minLength": 1 },
              { "type": "null" }
            ]
          },
          "equipment": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/EquipmentSelection" }
          },
          "tags": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PreferenceTag" }
          }
        },
        "additionalProperties": false
      },
      "OpponentThreatProfile": {
        "type": "object",
        "required": [
          "schemaVersion",
          "factionId",
          "rosterFingerprint",
          "bodyCount",
          "averagePointsPerModel",
          "eliteShare",
          "hordeShare",
          "mobilityShare",
          "vehicleMonsterShare",
          "rangedShare",
          "meleeShare",
          "objectiveShare",
          "durabilityShare",
          "durabilityBands",
          "keyTargetProfiles"
        ],
        "properties": {
          "schemaVersion": { "type": "integer", "const": 1 },
          "factionId": { "type": "string", "minLength": 1 },
          "rosterFingerprint": {
            "anyOf": [
              { "type": "string", "minLength": 1 },
              { "type": "null" }
            ]
          },
          "bodyCount": {
            "anyOf": [
              { "type": "integer", "minimum": 0 },
              { "type": "null" }
            ]
          },
          "averagePointsPerModel": {
            "anyOf": [
              { "type": "number", "minimum": 0 },
              { "type": "null" }
            ]
          },
          "eliteShare": { "type": "number", "minimum": 0, "maximum": 1 },
          "hordeShare": { "type": "number", "minimum": 0, "maximum": 1 },
          "mobilityShare": { "type": "number", "minimum": 0, "maximum": 1 },
          "vehicleMonsterShare": { "type": "number", "minimum": 0, "maximum": 1 },
          "rangedShare": { "type": "number", "minimum": 0, "maximum": 1 },
          "meleeShare": { "type": "number", "minimum": 0, "maximum": 1 },
          "objectiveShare": { "type": "number", "minimum": 0, "maximum": 1 },
          "durabilityShare": { "type": "number", "minimum": 0, "maximum": 1 },
          "durabilityBands": {
            "type": "object",
            "required": ["light", "medium", "heavy"],
            "properties": {
              "light": { "type": "number", "minimum": 0, "maximum": 1 },
              "medium": { "type": "number", "minimum": 0, "maximum": 1 },
              "heavy": { "type": "number", "minimum": 0, "maximum": 1 }
            },
            "additionalProperties": false
          },
          "keyTargetProfiles": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["unitId", "name", "modelCount", "points", "toughness", "wounds", "save"],
              "properties": {
                "unitId": { "type": "string", "minLength": 1 },
                "name": { "type": "string", "minLength": 1 },
                "modelCount": { "type": "integer", "minimum": 1 },
                "points": { "type": "integer", "minimum": 0 },
                "toughness": { "type": "number", "minimum": 0 },
                "wounds": { "type": "number", "minimum": 0 },
                "save": { "type": "number", "minimum": 0 }
              },
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false
      },
      "RosterConstraints": {
        "type": "object",
        "required": ["allowNamedCharacters", "allowLegends", "collectionUnitIds"],
        "properties": {
          "allowNamedCharacters": { "type": "boolean" },
          "allowLegends": { "type": "boolean" },
          "collectionUnitIds": {
            "anyOf": [
              { "type": "array", "items": { "type": "string", "minLength": 1 } },
              { "type": "null" }
            ]
          },
          "requiredUnitIds": { "type": "array", "items": { "type": "string", "minLength": 1 } },
          "excludedUnitIds": { "type": "array", "items": { "type": "string", "minLength": 1 } },
          "requiredWarlordUnitId": {
            "anyOf": [
              { "type": "string", "minLength": 1 },
              { "type": "null" }
            ]
          },
          "opponentFactionId": {
            "anyOf": [
              { "type": "string", "minLength": 1 },
              { "type": "null" }
            ]
          },
          "collectionProfile": {
            "anyOf": [
              { "$ref": "#/components/schemas/CollectionProfile" },
              { "type": "null" }
            ]
          },
          "opponentRosterFingerprint": {
            "anyOf": [
              { "type": "string", "minLength": 1 },
              { "type": "null" }
            ]
          },
          "opponentThreatProfile": {
            "anyOf": [
              { "$ref": "#/components/schemas/OpponentThreatProfile" },
              { "type": "null" }
            ]
          }
        },
        "additionalProperties": false
      },
      "RosterDraft": {
        "type": "object",
        "required": [
          "schemaVersion",
          "gameSystem",
          "id",
          "name",
          "factionId",
          "factionName",
          "pointsLimit",
          "totalPoints",
          "battleSize",
          "detachmentId",
          "detachmentName",
          "forceDispositionId",
          "forceDispositionName",
          "preferences",
          "constraints",
          "units",
          "createdAt",
          "updatedAt",
          "sourceData"
        ],
        "properties": {
          "schemaVersion": { "type": "integer", "const": 3 },
          "gameSystem": { "type": "string", "const": "warhammer-40000-11e" },
          "id": { "type": "string", "minLength": 1 },
          "name": { "type": "string", "minLength": 1 },
          "factionId": { "type": "string", "minLength": 1 },
          "factionName": { "type": "string", "minLength": 1 },
          "pointsLimit": { "type": "integer", "minimum": 0 },
          "totalPoints": { "type": "integer", "minimum": 0 },
          "battleSize": { "type": "string", "enum": ["incursion", "strike-force"] },
          "detachmentId": { "type": "string", "minLength": 1 },
          "detachmentName": { "type": "string", "minLength": 1 },
          "forceDispositionId": { "type": "string", "minLength": 1 },
          "forceDispositionName": { "type": "string", "minLength": 1 },
          "preferences": { "type": "array", "items": { "$ref": "#/components/schemas/PreferenceTag" } },
          "constraints": { "$ref": "#/components/schemas/RosterConstraints" },
          "units": { "type": "array", "items": { "$ref": "#/components/schemas/DraftUnit" } },
          "createdAt": { "type": "string", "minLength": 1 },
          "updatedAt": { "type": "string", "minLength": 1 },
          "sourceData": { "$ref": "#/components/schemas/RosterSourceDataV3" }
        },
        "additionalProperties": false
      },
      "LegacyRosterDraftBody": {
        "type": "object",
        "required": [
          "gameSystem",
          "id",
          "name",
          "factionId",
          "factionName",
          "pointsLimit",
          "totalPoints",
          "battleSize",
          "detachmentId",
          "detachmentName",
          "forceDispositionId",
          "forceDispositionName",
          "preferences",
          "constraints",
          "units",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "gameSystem": { "type": "string", "const": "warhammer-40000-11e" },
          "id": { "type": "string", "minLength": 1 },
          "name": { "type": "string", "minLength": 1 },
          "factionId": { "type": "string", "minLength": 1 },
          "factionName": { "type": "string", "minLength": 1 },
          "pointsLimit": { "type": "integer", "minimum": 0 },
          "totalPoints": { "type": "integer", "minimum": 0 },
          "battleSize": { "type": "string", "enum": ["incursion", "strike-force"] },
          "detachmentId": { "type": "string", "minLength": 1 },
          "detachmentName": { "type": "string", "minLength": 1 },
          "forceDispositionId": { "type": "string", "minLength": 1 },
          "forceDispositionName": { "type": "string", "minLength": 1 },
          "preferences": { "type": "array", "items": { "$ref": "#/components/schemas/PreferenceTag" } },
          "constraints": { "$ref": "#/components/schemas/RosterConstraints" },
          "units": { "type": "array", "items": { "$ref": "#/components/schemas/DraftUnit" } },
          "createdAt": { "type": "string", "minLength": 1 },
          "updatedAt": { "type": "string", "minLength": 1 }
        }
      },
      "LegacyRosterSourceDataV1": {
        "type": "object",
        "required": ["package", "version", "edition", "dataslate"],
        "properties": {
          "package": { "type": "string", "const": "@alpaca-software/40kdc-data" },
          "version": { "type": "string", "minLength": 1 },
          "edition": { "type": "string", "const": "11th" },
          "dataslate": { "type": "string", "minLength": 1 }
        },
        "additionalProperties": false
      },
      "LegacyRosterSourceDataV2": {
        "type": "object",
        "required": [
          "package",
          "version",
          "edition",
          "dataslate",
          "releaseId",
          "newRecruit",
          "official"
        ],
        "properties": {
          "package": { "type": "string", "const": "@alpaca-software/40kdc-data" },
          "version": { "type": "string", "minLength": 1 },
          "edition": { "type": "string", "const": "11th" },
          "dataslate": { "type": "string", "minLength": 1 },
          "releaseId": { "type": "string", "minLength": 1 },
          "newRecruit": {
            "type": "object",
            "required": ["repository", "commit", "gameSystemRevision", "catalogueRevision"],
            "properties": {
              "repository": { "type": "string", "const": "BSData/wh40k-11e" },
              "commit": { "type": "string", "pattern": "^[a-f0-9]{40}$" },
              "gameSystemRevision": { "type": "integer", "minimum": 0 },
              "catalogueRevision": { "type": ["integer", "null"], "minimum": 0 }
            },
            "additionalProperties": false
          },
          "official": {
            "type": "object",
            "required": ["mfmVersion", "updatedAt", "contentSha256"],
            "properties": {
              "mfmVersion": { "type": "string", "minLength": 1 },
              "updatedAt": { "type": "string", "minLength": 1 },
              "contentSha256": { "$ref": "#/components/schemas/Sha256" },
              "authority": { "$ref": "#/components/schemas/OfficialAuthorityStatus" }
            },
            "additionalProperties": false
          },
          "migratedFrom": { "type": "integer", "const": 1 }
        },
        "additionalProperties": false
      },
      "RosterDraftInput": {
        "description": "A current schema-v3 roster or a strict legacy schema-v1/v2 roster accepted for compatibility and explicit rebasing. Responses use schema v3.",
        "oneOf": [
          { "$ref": "#/components/schemas/RosterDraft" },
          {
            "allOf": [
              { "$ref": "#/components/schemas/LegacyRosterDraftBody" },
              {
                "type": "object",
                "required": ["schemaVersion", "sourceData"],
                "properties": {
                  "schemaVersion": { "type": "integer", "const": 1 },
                  "sourceData": { "$ref": "#/components/schemas/LegacyRosterSourceDataV1" }
                }
              }
            ]
          },
          {
            "allOf": [
              { "$ref": "#/components/schemas/LegacyRosterDraftBody" },
              {
                "type": "object",
                "required": ["schemaVersion", "sourceData"],
                "properties": {
                  "schemaVersion": { "type": "integer", "const": 2 },
                  "sourceData": { "$ref": "#/components/schemas/LegacyRosterSourceDataV2" }
                }
              }
            ]
          }
        ]
      },
      "RosterDataRebaseResultEnvelope": {
        "type": "object",
        "required": ["ok", "data", "violations", "warnings"],
        "properties": {
          "ok": { "type": "boolean" },
          "data": {
            "anyOf": [
              {
                "type": "object",
                "required": ["status", "roster", "fromBundleId", "toBundleId", "provenanceChanged", "changedScopes"],
                "properties": {
                  "status": { "type": "string", "enum": ["current", "compatible-rebased", "review-required"] },
                  "roster": { "$ref": "#/components/schemas/RosterDraft" },
                  "fromBundleId": { "$ref": "#/components/schemas/Sha256" },
                  "toBundleId": { "$ref": "#/components/schemas/Sha256" },
                  "provenanceChanged": { "type": "boolean" },
                  "changedScopes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["kind", "entityId", "change", "previousHash", "currentHash"],
                      "properties": {
                        "kind": { "type": "string", "enum": ["faction", "detachment", "force-disposition", "unit", "equipment", "enhancement", "mapping", "unknown"] },
                        "entityId": { "type": "string" },
                        "change": { "type": "string", "enum": ["added", "removed", "changed", "unverifiable"] },
                        "previousHash": { "anyOf": [{ "$ref": "#/components/schemas/Sha256" }, { "type": "null" }] },
                        "currentHash": { "anyOf": [{ "$ref": "#/components/schemas/Sha256" }, { "type": "null" }] }
                      },
                      "additionalProperties": false
                    }
                  }
                },
                "additionalProperties": false
              },
              { "type": "null" }
            ]
          },
          "violations": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } },
          "warnings": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } }
        },
        "additionalProperties": false
      },
      "PreferenceTag": {
        "type": "string",
        "enum": ["mobility", "durability", "objective", "shooting", "melee", "elite", "horde"]
      },
      "CollectionProfile": {
        "oneOf": [
          {
            "type": "object",
            "required": ["mode"],
            "properties": { "mode": { "type": "string", "const": "open-catalog" } },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": ["mode", "units"],
            "properties": {
              "mode": { "type": "string", "const": "owned" },
              "units": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["unitId"],
                  "properties": {
                    "unitId": { "type": "string" },
                    "maxUnits": { "type": "integer", "minimum": 1 },
                    "maxModels": { "type": "integer", "minimum": 1 }
                  },
                  "additionalProperties": false
                }
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "OpponentContext": {
        "oneOf": [
          {
            "type": "object",
            "required": ["kind", "factionId"],
            "properties": {
              "kind": { "type": "string", "const": "known-faction" },
              "factionId": { "type": "string" }
            },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": ["kind", "roster"],
            "properties": {
              "kind": { "type": "string", "const": "known-roster" },
              "roster": { "$ref": "#/components/schemas/RosterDraftInput" }
            },
            "additionalProperties": false
          }
        ]
      },
      "BuildRosterRequest": {
        "type": "object",
        "properties": {
          "prompt": { "type": "string" },
          "playerFaction": { "type": "string", "default": "adeptus-custodes" },
          "faction": { "type": "string", "deprecated": true },
          "pointsLimit": { "type": "integer", "minimum": 100, "maximum": 5000, "default": 1000 },
          "name": { "type": "string" },
          "preferences": { "type": "array", "items": { "$ref": "#/components/schemas/PreferenceTag" } },
          "allowNamedCharacters": { "type": "boolean" },
          "allowLegends": { "type": "boolean" },
          "collectionUnitIds": { "type": "array", "items": { "type": "string" } },
          "collectionProfile": { "$ref": "#/components/schemas/CollectionProfile" },
          "requiredUnitIds": { "type": "array", "items": { "type": "string" } },
          "excludedUnitIds": { "type": "array", "items": { "type": "string" } },
          "requiredWarlordUnitId": { "type": "string" },
          "detachmentId": { "type": "string" },
          "forceDispositionId": { "type": "string" },
          "opponentContext": { "$ref": "#/components/schemas/OpponentContext" },
          "mixedThreatIntent": { "type": "boolean" }
        },
        "additionalProperties": false
      },
      "FactionSummary": {
        "type": "object",
        "required": ["id", "name", "unitCount", "supported", "keywords", "styles"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "unitCount": { "type": "integer", "minimum": 0 },
          "supported": { "type": "boolean" },
          "keywords": { "type": "array", "items": { "type": "string" } },
          "styles": { "type": "array", "items": { "$ref": "#/components/schemas/PreferenceTag" } }
        },
        "additionalProperties": false
      },
      "UnitSummary": {
        "type": "object",
        "required": [
          "id",
          "name",
          "factionId",
          "role",
          "pointsFrom",
          "modelCounts",
          "tags",
          "keywords",
          "isNamedCharacter",
          "isLegend",
          "supported"
        ],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "factionId": { "type": "string" },
          "role": { "type": "string" },
          "pointsFrom": { "type": "number", "minimum": 0 },
          "modelCounts": { "type": "array", "items": { "type": "integer", "minimum": 1 } },
          "tags": { "type": "array", "items": { "$ref": "#/components/schemas/PreferenceTag" } },
          "keywords": { "type": "array", "items": { "type": "string" } },
          "isNamedCharacter": { "type": "boolean" },
          "isLegend": { "type": "boolean" },
          "supported": { "type": "boolean" }
        },
        "additionalProperties": false
      },
      "FactionSummaryEnvelope": {
        "type": "object",
        "required": ["ok", "data", "violations", "warnings"],
        "properties": {
          "ok": { "type": "boolean" },
          "data": {
            "anyOf": [
              { "type": "array", "items": { "$ref": "#/components/schemas/FactionSummary" } },
              { "type": "null" }
            ]
          },
          "violations": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } },
          "warnings": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } }
        },
        "additionalProperties": false
      },
      "UnitSummaryEnvelope": {
        "type": "object",
        "required": ["ok", "data", "violations", "warnings"],
        "properties": {
          "ok": { "type": "boolean" },
          "data": {
            "anyOf": [
              { "type": "array", "items": { "$ref": "#/components/schemas/UnitSummary" } },
              { "type": "null" }
            ]
          },
          "violations": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } },
          "warnings": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } }
        },
        "additionalProperties": false
      },
      "ModifyRosterOperation": {
        "oneOf": [
          {
            "type": "object",
            "required": ["type", "unitId"],
            "properties": {
              "type": { "type": "string", "const": "add" },
              "unitId": { "type": "string", "minLength": 1 },
              "modelCount": { "type": "integer", "minimum": 1 }
            }
          },
          {
            "type": "object",
            "required": ["type", "selectionId"],
            "properties": {
              "type": { "type": "string", "const": "remove" },
              "selectionId": { "type": "string", "minLength": 1 }
            }
          },
          {
            "type": "object",
            "required": ["type", "selectionId", "unitId"],
            "properties": {
              "type": { "type": "string", "const": "replace" },
              "selectionId": { "type": "string", "minLength": 1 },
              "unitId": { "type": "string", "minLength": 1 },
              "modelCount": { "type": "integer", "minimum": 1 }
            }
          },
          {
            "type": "object",
            "required": ["type", "selectionId", "modelCount"],
            "properties": {
              "type": { "type": "string", "const": "set-model-count" },
              "selectionId": { "type": "string", "minLength": 1 },
              "modelCount": { "type": "integer", "minimum": 1 }
            }
          },
          {
            "type": "object",
            "required": ["type", "selectionId"],
            "properties": {
              "type": { "type": "string", "const": "set-warlord" },
              "selectionId": { "type": "string", "minLength": 1 }
            }
          },
          {
            "type": "object",
            "required": ["type", "selectionId", "equipment"],
            "properties": {
              "type": { "type": "string", "const": "set-equipment" },
              "selectionId": { "type": "string", "minLength": 1 },
              "equipment": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["itemId", "count"],
                  "properties": {
                    "itemId": { "type": "string", "minLength": 1 },
                    "count": { "type": "integer", "minimum": 0 }
                  }
                }
              }
            }
          },
          {
            "type": "object",
            "required": ["type", "selectionId", "enhancementId"],
            "properties": {
              "type": { "type": "string", "const": "set-enhancement" },
              "selectionId": { "type": "string", "minLength": 1 },
              "enhancementId": {
                "anyOf": [
                  { "type": "string", "minLength": 1 },
                  { "type": "null" }
                ]
              }
            }
          },
          {
            "type": "object",
            "required": ["type", "detachmentId"],
            "properties": {
              "type": { "type": "string", "const": "set-detachment" },
              "detachmentId": { "type": "string", "minLength": 1 },
              "forceDispositionId": { "type": "string", "minLength": 1 }
            }
          },
          {
            "type": "object",
            "required": ["type", "forceDispositionId"],
            "properties": {
              "type": { "type": "string", "const": "set-disposition" },
              "forceDispositionId": { "type": "string", "minLength": 1 }
            }
          }
        ],
        "discriminator": {
          "propertyName": "type"
        }
      },
      "RosterDraftEnvelope": {
        "type": "object",
        "required": ["ok", "data", "violations", "warnings"],
        "properties": {
          "ok": { "type": "boolean" },
          "data": {
            "anyOf": [
              { "$ref": "#/components/schemas/RosterDraft" },
              { "type": "null" }
            ]
          },
          "violations": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } },
          "warnings": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } }
        },
        "additionalProperties": false
      },
      "RosterValidationEnvelope": {
        "type": "object",
        "required": ["ok", "data", "violations", "warnings"],
        "properties": {
          "ok": { "type": "boolean" },
          "data": {
            "anyOf": [
              {
                "type": "object",
                "required": ["legal", "totalPoints"],
                "properties": {
                  "legal": { "type": "boolean" },
                  "totalPoints": { "type": "integer", "minimum": 0 }
                },
                "additionalProperties": false
              },
              { "type": "null" }
            ]
          },
          "violations": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } },
          "warnings": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } }
        },
        "additionalProperties": false
      },
      "RosterExplanationEnvelope": {
        "type": "object",
        "required": ["ok", "data", "violations", "warnings"],
        "properties": {
          "ok": { "type": "boolean" },
          "data": {
            "anyOf": [
              {
                "type": "object",
                "required": ["summary", "choices", "cautions", "optimizer"],
                "properties": {
                  "summary": { "type": "string" },
                  "choices": { "type": "array", "items": { "type": "string" } },
                  "cautions": { "type": "array", "items": { "type": "string" } },
                  "optimizer": {
                    "type": "object",
                    "required": ["generatorVersion", "scoreOrder", "selectedCandidates", "targetProfileCoverage"],
                    "properties": {
                      "generatorVersion": { "type": "string", "const": "beam-search-v1" },
                      "scoreOrder": { "type": "array", "items": { "type": "string" } },
                      "selectedCandidates": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "selectionId",
                            "unitId",
                            "unitName",
                            "modelCount",
                            "points",
                            "equipmentSignature",
                            "selectedProfileEvidence",
                            "components"
                          ],
                          "properties": {
                            "selectionId": { "type": "string" },
                            "unitId": { "type": "string" },
                            "unitName": { "type": "string" },
                            "modelCount": { "type": "integer", "minimum": 1 },
                            "points": { "type": "integer", "minimum": 0 },
                            "equipmentSignature": { "type": "string" },
                            "selectedProfileEvidence": { "type": "array", "items": { "type": "string" } },
                            "components": {
                              "type": "object",
                              "required": [
                                "preference",
                                "pointsUtilization",
                                "missionReadiness",
                                "opponentCoverage",
                                "modelValue",
                                "duplicationPenalty",
                                "extraCharacterPenalty",
                                "pointsCostPenalty",
                                "total"
                              ],
                              "properties": {
                                "preference": { "type": "number" },
                                "pointsUtilization": { "type": "number" },
                                "missionReadiness": { "type": "number" },
                                "opponentCoverage": { "type": "number" },
                                "modelValue": { "type": "number" },
                                "duplicationPenalty": { "type": "number" },
                                "extraCharacterPenalty": { "type": "number" },
                                "pointsCostPenalty": { "type": "number" },
                                "total": { "type": "number" }
                              },
                              "additionalProperties": false
                            }
                          },
                          "additionalProperties": false
                        }
                      },
                      "targetProfileCoverage": {
                        "anyOf": [
                          {
                            "type": "object",
                            "required": [
                              "opponentFactionId",
                              "opponentRosterFingerprint",
                              "bodyCount",
                              "averagePointsPerModel",
                              "eliteShare",
                              "hordeShare",
                              "mobilityShare",
                              "vehicleMonsterShare",
                              "rangedShare",
                              "meleeShare",
                              "objectiveShare",
                              "durabilityShare",
                              "durabilityBands",
                              "keyTargetProfiles",
                              "selectedCoverageScore",
                              "selectedProfileEvidence"
                            ],
                            "properties": {
                              "opponentFactionId": { "type": "string" },
                              "opponentRosterFingerprint": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "bodyCount": {
                                "anyOf": [
                                  { "type": "integer", "minimum": 0 },
                                  { "type": "null" }
                                ]
                              },
                              "averagePointsPerModel": {
                                "anyOf": [
                                  { "type": "number", "minimum": 0 },
                                  { "type": "null" }
                                ]
                              },
                              "eliteShare": { "type": "number" },
                              "hordeShare": { "type": "number" },
                              "mobilityShare": { "type": "number" },
                              "vehicleMonsterShare": { "type": "number" },
                              "rangedShare": { "type": "number" },
                              "meleeShare": { "type": "number" },
                              "objectiveShare": { "type": "number" },
                              "durabilityShare": { "type": "number" },
                              "durabilityBands": {
                                "type": "object",
                                "required": ["light", "medium", "heavy"],
                                "properties": {
                                  "light": { "type": "number" },
                                  "medium": { "type": "number" },
                                  "heavy": { "type": "number" }
                                },
                                "additionalProperties": false
                              },
                              "keyTargetProfiles": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": ["unitId", "name", "modelCount", "points", "toughness", "wounds", "save"],
                                  "properties": {
                                    "unitId": { "type": "string" },
                                    "name": { "type": "string" },
                                    "modelCount": { "type": "integer" },
                                    "points": { "type": "integer" },
                                    "toughness": { "type": "number" },
                                    "wounds": { "type": "number" },
                                    "save": { "type": "number" }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "selectedCoverageScore": { "type": "number" },
                              "selectedProfileEvidence": { "type": "array", "items": { "type": "string" } }
                            },
                            "additionalProperties": false
                          },
                          { "type": "null" }
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              },
              { "type": "null" }
            ]
          },
          "violations": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } },
          "warnings": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } }
        },
        "additionalProperties": false
      },
      "InlineExportArtifact": {
        "type": "object",
        "required": ["format", "filename", "mimeType", "encoding", "content"],
        "properties": {
          "format": {
            "type": "string",
            "enum": ["ros", "rosz", "newrecruit-json", "roster-json", "text", "html"]
          },
          "filename": { "type": "string" },
          "mimeType": { "type": "string" },
          "encoding": { "type": "string", "enum": ["utf8", "base64"] },
          "content": { "type": "string" }
        },
        "additionalProperties": false
      },
      "InlineExportArtifactEnvelope": {
        "type": "object",
        "required": ["ok", "data", "violations", "warnings"],
        "properties": {
          "ok": { "type": "boolean" },
          "data": {
            "anyOf": [
              { "$ref": "#/components/schemas/InlineExportArtifact" },
              { "type": "null" }
            ]
          },
          "violations": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } },
          "warnings": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } }
        },
        "additionalProperties": false
      },
      "NewRecruitHandoffEnvelope": {
        "type": "object",
        "required": ["ok", "data", "violations", "warnings"],
        "properties": {
          "ok": { "type": "boolean" },
          "data": {
            "anyOf": [
              {
                "type": "object",
                "required": ["rosterId", "rosterName", "totalPoints", "pointsLimit", "importUrl", "artifacts", "instructions"],
                "properties": {
                  "rosterId": { "type": "string" },
                  "rosterName": { "type": "string" },
                  "totalPoints": { "type": "integer", "minimum": 0 },
                  "pointsLimit": { "type": "integer", "minimum": 0 },
                  "importUrl": { "type": "string", "const": "https://www.newrecruit.eu/app/MyLists" },
                  "artifacts": { "type": "array", "items": { "$ref": "#/components/schemas/InlineExportArtifact" } },
                  "instructions": { "type": "array", "items": { "type": "string" } }
                },
                "additionalProperties": false
              },
              { "type": "null" }
            ]
          },
          "violations": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } },
          "warnings": { "type": "array", "items": { "$ref": "#/components/schemas/RosterIssue" } }
        },
        "additionalProperties": false
      }
    }
  }
}
